$nav-color: #303030;
$white-color :#ffff;
$hover-color :#2e61fe;
$yellow-color :#daa722;
$facebook-hover: #0e8cf0;
$twitter-hover:#1da1f2;
$instagram-hover :#d6249f;
$watsapp-hover : #00bd07;
$mega-background: #ced3d1;
$side-menue-hover :#e9ecef;
$ccc-color : #ccc;
$tool-tip-color : #e67a00;
$about-color:#00aeef;


