@import "../variables/home-var";
@import "../mixins/Home-mixins";

.s1 {
    .one,.two,.three,.foure,.five {
        color : $yellow-color;
    }
}
.s2 {
    .one,.two,.three,.foure {
        color : $yellow-color;
    }
    .five {
        color : $ccc-color;
    }
}
.s3 {
    .one,.two,.three {
        color : $yellow-color;
    }
    .five,.foure {
        color : $ccc-color;
    }
}
